<nav>
  <ul>
    <li>
      <p><strong> See Tara </strong></p>
    </li>
  </ul>
  <ul>
    {% if current_user.is_authenticated %}
    <li>
      <a
        href=""
        role="button"
        class="primary outline"
        hx-get="/app/levels"
        hx-target="#swappable"
        hx-trigger="click delay: 300ms"
        hx-swap="innerHTML"
      >
        Home
      </a>
    </li>
    <li>
      <a
        href=""
        role="button"
        class="secondary outline"
        hx-get="/app/leaderboards"
        hx-target="#swappable"
        hx-trigger="click delay: 300ms"
        hx-swap="innerHTML"
      >
        Leaderboards
      </a>
    </li>
    <li>
      <a
        href=""
        role="button"
        class="secondary outline"
        hx-get="/app/profile"
        hx-target="#swappable"
        hx-trigger="click delay: 300ms"
        hx-swap="innerHTML"
      >
        Profile
      </a>
    </li>
    <li>
      <a
        href="/"
        role="button"
        class="contrast outline"
        hx-get="/logout"
        hx-trigger="click delay: 300ms"
        hx-target="#swappable"
        hx-swap="innerHTML"
      >
        Logout
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
