<article id="swappable">
<form
  id="loginForm"
  hx-post="/login"
  hx-trigger="submit"
  hx-target="#loginResult"
>
  <label for="email">
    <input type="text" id="email" name="email" placeholder="Email" required />
  </label>

  <label for="password">
    <input type="password" id="password" name="password" placeholder="Password" required />
  </label>

  <label for="remember">
    <input id="remember" type="checkbox">Remember Me</input>
  </label>
  <div class="grid">

    <button type="submit">Login</button>

  </div>
</form>
</article>