<nav hx-get="/nav" hx-trigger="changed delay: 5s" hx-swap="outerHTML">
  <ul>
    <li>
      <hgroup>
        <h1>See Tara</h1>
        <h6>see, explore, beyond.</h6>
      </hgroup>
    </li>
  </ul>
  <ul>
    <li><a href="#">Contact</a></li>
    {% if not current_user.is_authenticated %}
    <li>
      <a
        href="#"
        role="button"
        class="secondary"
        hx-get="/signup"
        hx-target="#swappable"
        hx-trigger="click delay: 300ms"
        hx-swap="innerHTML"
      >
        Sign Up
      </a>
    </li>
    <li>
      <a
        href="#login"
        role="button"
        class="primary"
        hx-get="/login"
        hx-target="#swappable"
        hx-trigger="click delay: 300ms"
        hx-swap="innerHTML"
      >
        Login
      </a>
    </li>
    <!-- {% endif %} {% if current_user.is_authenticated %}
    <li>
      <a
        href=""
        role="button"
        class="secondary"
        hx-get="/profile"
        hx-target="#swappable"
        hx-trigger="click delay: 300ms"
        hx-swap="innerHTML"
      >
        Profile
      </a>
    </li>
    <li>
      <a
        href="/"
        role="button"
        class="contrast"
        hx-get="/logout"
        hx-trigger="click delay: 300ms"
        hx-target="#swappable"
        hx-swap="innerHTML"
      >
        Logout
      </a>
    </li>
    {% endif %} -->
  </ul>
</nav>
